// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dollar-sign {
	position: absolute;
	left: 9px;
	bottom: 38px;
	display: none;
}

.char-count {
	position: absolute;
	right: 0;
}
